.saveButton
{
	float: right;
	margin-top: 2%;
}

.statusClass
{
	margin-top : 2%;
}

.showPage
{
	margin-top: 4%;
}

/*.brdr
{
	border : 1px solid #428bca;
}*/

.borderStyle
{		
	padding-top: 1%;
	padding-bottom: 1%;
	color: #fff;
    background: linear-gradient(to bottom right, #085078, #85D8CE);
    border-color: #428bca;
}
.container li
{
	margin : 2%;
	margin-left: 5%;

}

.container ul
{
	border :2px solid black;
	list-style-type: none;
	padding: 0;
}

table
{
	border : 2px solid black;
}
.InvalidField
{
	color: red;
	font-weight: bold;
}
.Caption
{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}